%YAML 1.2
---

# operator templates
####################

# izhikevich operator with biophysiologically relevant parameters
ik_op:
  base: OperatorTemplate
  equations:
    - "r' = (Delta*absv(v-v_r)*k^2/(pi*C) + r*(k*(2.0*v-v_r-v_t) - g*s)) / C"
    - "v' = (k*v*(v-v_r-v_t) - C*pi*r*(Delta*sign(v-v_r)+pi*C*r/k) + k*v_r*v_t + g*s*(E_r-v) + eta + I_ext - u) / C"
    - "u' = a*(b*(v-v_r) - u) + d*r"
    - "s' = -s/tau_s + r_in"
  variables:
    r: output(0.0)
    v: variable(-60.0)
    u: variable(0.0)
    s: variable(0.0)
    Delta: 0.1
    C: 100.0
    k: 0.7
    v_r: -60.0
    v_t: -40.0
    g: 20.0
    E_r: 0.0
    b: -2.0
    a: 0.03
    d: 100.0
    tau_s: 6.0
    eta: 0.0
    I_ext: input(0.0)
    r_in: input(0.0)

# izhikevich operator with threshold adaptation
sfa_op_fast_u:
  base: OperatorTemplate
  equations:
    - "r' = (Delta*k*absv(v-v_r)/(C*pi) + r*(k*(2.0*v-v_r-v_t) - g*s_in - b)) / C"
    - "v' = (k*(v-v_r)*(v-v_t) - C*pi*r*(C*pi*r + Delta*sign(v-v_r))/k + g*s_in*(E_r-v) + eta + I_ext - u - x) / C"
    - "u' = (b*(v-v_r) - u)/tau_u"
    - "x' = -x/tau_x + kappa*r"
    - "s' = -s/tau_s + r"
  variables:
    r: output(0.01)
    v: variable(-60.0)
    u: variable(0.0)
    x: variable(0.0)
    s: variable(0.0)
    sigma: variable(0.0)
    Delta: 0.1
    C: 100.0
    k: 0.7
    v_r: -60.0
    v_t: -40.0
    g: 20.0
    E_r: 0.0
    b: -2.0
    tau_u: 30.0
    tau_s: 6.0
    kappa: 10.0
    tau_x: 300.0
    eta: 0.0
    I_ext: input(0.0)
    s_in: input(0.0)

# izhikevich operator with threshold adaptation
sfa_op_quadratic_u:
  base: OperatorTemplate
  equations:
    - "r' = (w*pi*tau_u*k/(C*pi) + r*(k*(2.0*v-v_r-v_t) - g*s_in)) / C"
    - "v' = (k*(v-v_r)*(v-v_t) - (C*pi*r)^2/k + g*s_in*(E_r-v) + eta + I_ext - u) / C"
    - "w' = (Delta*absv(v_r-v)*absv(w-x)/(pi*tau_u) + w*(2*u - b*(v_r-v) - x)) / tau_u"
    - "u' = (u - b*(v_r-v))*(u - x)/tau_u - pi*w*(pi*w*tau_u + Delta*(v_r-v)*sign(u-x))"
    - "x' = -x/tau_x + kappa*r"
    - "s' = -s/tau_s + r"
  variables:
    r: output(0.01)
    v: variable(-60.0)
    u: variable(0.0)
    w: variable(0.0)
    x: variable(0.0)
    s: variable(0.0)
    sigma: variable(0.0)
    Delta: 0.1
    C: 100.0
    k: 0.7
    v_r: -60.0
    v_t: -40.0
    g: 20.0
    E_r: 0.0
    b: -2.0
    tau_u: 30.0
    tau_s: 6.0
    kappa: 10.0
    tau_x: 300.0
    eta: 0.0
    I_ext: input(0.0)
    s_in: input(0.0)

# izhikevich operator with threshold adaptation
sfa_op:
  base: OperatorTemplate
  equations:
    #- "Delta_u = Delta*absv(v-v_r) + r*pi*C*absv(b)/k"
    #- "Delta_v = Delta*absv(v-v_r)"
    - "r' = (k*Delta/(C*pi) + r*(k*(2.0*v-v_r-v_t) - g*s_in)) / C"
    - "v' = (k*(v-v_r)*(v-v_t) - C*pi*r*(C*pi*r + 0.0)/k + g*s_in*(E_r-v) + eta + I_ext - u) / C"
    - "u' = (b*(v-v_r) - u)/tau_u + x"
    - "x' = -x/tau_x + kappa*r"
    - "s' = -s/tau_s + r"
  variables:
    r: output(0.0)
    v: variable(-60.0)
    u: variable(0.0)
    x: variable(0.0)
    s: variable(0.0)
    Delta_u: variable(0.0)
    Delta_v: variable(0.0)
    Delta: 0.1
    C: 100.0
    k: 0.7
    v_r: -60.0
    v_t: -40.0
    g: 20.0
    E_r: 0.0
    b: -2.0
    tau_u: 30.0
    tau_s: 6.0
    kappa: 10.0
    tau_x: 300.0
    eta: 0.0
    I_ext: input(0.0)
    s_in: input(0.0)

# izhikevich operator with ampa and gabaa synapses
ik_ei_op:
  base: OperatorTemplate
  equations:
    - "r' = (Delta*k^2*absv(v-v_r)/(pi*C) + r*(k*(2.0*v-v_r-v_t) - g_ampa*s_ampa - g_gabaa*s_gabaa)) / C"
    - "v' = (k*(v-v_r)*(v-v_t) + C*pi*r*(Delta*sign(v-v_r)-pi*C*r/k) + g_ampa*s_ampa*(E_ampa-v) + g_gabaa*s_gabaa*(E_gabaa-v) + I_ext - u) / C"
    - "u' = a*(b*(v-v_r) - u) + d*r"
    - "s_ampa' = -s_ampa/tau_ampa + r_e"
    - "s_gabaa' = -s_gabaa/tau_gabaa + r_i"
  variables:
    r: output(0.0)
    v: variable(-60.0)
    u: variable(0.0)
    s_ampa: variable(0.0)
    s_gabaa: variable(0.0)
    Delta: 0.1
    C: 100.0
    k: 0.7
    v_r: -60.0
    v_t: -40.0
    g_ampa: 10.0
    g_gabaa: 10.0
    E_ampa: 0.0
    E_gabaa: -60.0
    b: -2.0
    a: 0.03
    d: 100.0
    tau_ampa: 6.0
    tau_gabaa: 8.0
    I_ext: input(0.0)
    r_e: input(0.0)
    r_i: input(0.0)

# parameters for regular-spiking neurons
rs_op:
  base: ik_ei_op
  variables:
    Delta: 1.0
    C: 100.0
    k: 0.7
    v_r: -60.0
    v_t: -40.0
    g_ampa: 1.0
    g_gabaa: 1.0
    E_ampa: 0.0
    E_gabaa: -65.0
    b: -2.0
    a: 0.03
    d: 20.0
    tau_ampa: 6.0
    tau_gabaa: 8.0

# parameters for intrinsically-bursting neurons
ib_op:
  base: ik_ei_op
  variables:
    Delta: 1.0
    C: 150.0
    k: 1.2
    v_r: -75.0
    v_t: -45.0
    g_ampa: 1.5
    g_gabaa: 0.8
    E_ampa: 0.0
    E_gabaa: -65.0
    b: 5.0
    a: 0.01
    d: 30.0
    tau_ampa: 6.0
    tau_gabaa: 8.0

# parameters for fast-spiking neurons
fs_op:
  base: ik_ei_op
  variables:
    Delta: 1.0
    C: 20.0
    k: 1.0
    v_r: -55.0
    v_t: -40.0
    g_ampa: 1.0
    g_gabaa: 1.0
    E_ampa: 0.0
    E_gabaa: -65.0
    b: 0.025
    a: 0.2
    d: 0.0
    tau_ampa: 6.0
    tau_gabaa: 8.0

# parameters for low-threshold-spiking neurons
lts_op:
  base: ik_ei_op
  variables:
    Delta: 1.0
    C: 100.0
    k: 1.0
    v_r: -56.0
    v_t: -42.0
    g_ampa: 1.0
    g_gabaa: 1.0
    E_ampa: 0.0
    E_gabaa: -65.0
    b: 8.0
    a: 0.03
    d: 20.0
    tau_ampa: 6.0
    tau_gabaa: 8.0

# node templates
################

# population of biophysiologically informed izhikevich neurons
ik_pop:
  base: NodeTemplate
  operators:
    - ik_op

# regular-spiking neuron population
rs:
  base: NodeTemplate
  operators:
    - rs_op

# intrinsically-bursting neuron population
ib:
  base: NodeTemplate
  operators:
    - ib_op

# fast-spiking neuron population
fs:
  base: NodeTemplate
  operators:
    - fs_op

# low-threshold-spiking neuron population
lts:
  base: NodeTemplate
  operators:
    - lts_op

# IK neuron population with threshold adaptation
sfa_pop:
  base: NodeTemplate
  operators:
    - sfa_op

# circuit templates
###################

# biophysiologically informed izhikevich population
ik:
  base: CircuitTemplate
  nodes:
    p: ik_pop
  edges:
    - [p/ik_op/r, p/ik_op/r_in, null, {weight: 1.0}]

# rs-fs circuit
eic:
  base: CircuitTemplate
  nodes:
    rs: rs
    fs: fs
  edges:
    - [rs/rs_op/r, rs/rs_op/r_e, null, {weight: 15.0}]
    - [rs/rs_op/r, fs/fs_op/r_e, null, {weight: 8.0}]
    - [fs/fs_op/r, rs/rs_op/r_i, null, {weight: 15.0}]
    - [fs/fs_op/r, fs/fs_op/r_i, null, {weight: 8.0}]

# rs-fs-lts circuit
eiic:
  base: CircuitTemplate
  nodes:
    rs: rs
    fs: fs
    lts: lts
  edges:
    - [rs/rs_op/r, rs/rs_op/r_e, null, {weight: 16.0}]
    - [rs/rs_op/r, fs/fs_op/r_e, null, {weight: 4.0}]
    - [rs/rs_op/r, lts/lts_op/r_e, null, {weight: 4.0}]
    - [fs/fs_op/r, rs/rs_op/r_i, null, {weight: 16.0}]
    - [fs/fs_op/r, fs/fs_op/r_i, null, {weight: 4.0}]
    - [fs/fs_op/r, lts/lts_op/r_i, null, {weight: 4.0}]
    - [lts/lts_op/r, rs/rs_op/r_i, null, {weight: 16.0}]
    - [lts/lts_op/r, fs/fs_op/r_i, null, {weight: 4.0}]

# IK neuron population with threshold adaptation
sfa:
  base: CircuitTemplate
  nodes:
    p: sfa_pop
  edges:
    - [p/sfa_op/s, p/sfa_op/s_in, null, {weight: 1.0}]
