%YAML 1.2
---

# operator templates
####################

# izhikevich operator with biophysiologically relevant parameters
ik_op2:
  base: OperatorTemplate
  equations:
    - "r' = (Delta*k^2/(pi*C) + r*(k*(2.0*v-v_r-v_t) - g_e*s_e - g_i*s_i)) / C"
    - "v' = (k*v*(v-v_r-v_t) - (pi*C*r)^2/k + k*v_r*v_t + g_e*s_e*(E_e-v) + g_i*s_i*(E_i-v) + eta + I_ext) / C"
    - "s' = x / tau_s"
    - "x' = (r - 2*x - s) / tau_s"
  variables:
    r: output(0.0)
    v: variable(-60.0)
    s: variable(0.0)
    x: variable(0.0)
    Delta: 0.1
    C: 100.0
    k: 0.7
    v_r: -60.0
    v_t: -40.0
    g_e: 20.0
    g_i: 10.0
    E_e: 0.0
    E_i: -65.0
    tau_s: 6.0
    eta: 0.0
    I_ext: input(0.0)
    s_e: input(0.0)
    s_i: input(0.0)

ik_op:
  base: OperatorTemplate
  equations:
    - "r' = (Delta*absv(v-v_r)*k^2/(pi*C) + r*(k*(2.0*v-v_r-v_t) - g*s_e)) / C"
    - "v' = (k*v*(v-v_r-v_t) - C*pi*r*(Delta*sign(v-v_r)+pi*C*r/k) + k*v_r*v_t + g*s_e*(E_r-v) + eta + I_ext - u) / C"
    - "u' = a*(b*(v-v_r) - u) + d*r"
    - "s' = -s/tau_s + r"
  variables:
    r: output(0.0)
    v: variable(-60.0)
    u: variable(0.0)
    s: variable(0.0)
    Delta: 0.1
    C: 100.0
    k: 0.7
    v_r: -60.0
    v_t: -40.0
    g: 20.0
    E_r: 0.0
    b: -2.0
    a: 0.03
    d: 10.0
    tau_s: 6.0
    eta: 0.0
    I_ext: input(0.0)
    s_e: input(0.0)

# qif operator
qif_op:
  base: OperatorTemplate
  equations:
    - "r' = (Delta/(pi*tau) + 2.0*r*v) / tau"
    - "v' = (v^2 - (pi*tau*r)^2 + tau*(J_e*s_e - J_i*s_i) + eta + I_ext) / tau"
    - "s' = r - s/tau_s"
    - "x' = (r - 2*x - s) / tau_s"
  variables:
    r: output(0.01)
    v: variable(-60.0)
    s: variable(0.05)
    x: variable(0.05)
    Delta: 0.1
    tau: 10.0
    J_e: 20.0
    J_i: 10.0
    tau_s: 6.0
    eta: 0.0
    I_ext: input(0.0)
    s_e: input(0.0)
    s_i: input(0.0)

# izhikevich operator with SFA
ik_sfa_op:
  base: OperatorTemplate
  equations:
    - "r' = (Delta*k^2/(pi*C) + r*(k*(2.0*v-v_r-v_t) - g_e*s_e - g_i*s_i)) / C"
    - "v' = (k*v*(v-v_r-v_t) - (pi*C*r)^2/k + k*v_r*v_t + g_e*s_e*(E_e-v) + g_i*s_i*(E_i-v) + eta + I_ext - u) / C"
    - "u' = w / tau_u"
    - "w' = (kappa*tau_u*r - 2*w - u) / tau_u"
    - "s' = x / tau_s"
    - "x' = (r - 2*x - s) / tau_s"
  variables:
    r: output(0.01)
    v: variable(-60.0)
    u: variable(50.0)
    w: variable(50.0)
    s: variable(0.05)
    x: variable(0.05)
    Delta: 0.1
    C: 100.0
    k: 0.7
    v_r: -60.0
    v_t: -40.0
    g_e: 20.0
    g_i: 10.0
    E_e: 0.0
    E_i: -65.0
    kappa: 10.0
    tau_u: 500.0
    tau_s: 6.0
    eta: 0.0
    I_ext: input(0.0)
    s_e: input(0.0)
    s_i: input(0.0)

# izhikevich operator with SFA
ik_full_op:
  base: OperatorTemplate
  equations:
    - "v_scale = mg_scale*v"
    - "v_exp = exp(v_scale)"
    - "f_n = 1 / (1+v_exp)"
    - "dfdv = (v_exp*(v_scale - E_n*mg_scale - 1) - 1) * f_n^2"
    - "p2 = (a2*(1 + tanh((v-v_c)/sigma)) + (b2-a2)*(1 + tanh((v-v0)/sigma)) - b2*(1 + tanh((v-v1)/sigma)))/2"
    - "r' = (Delta*k^2/(pi*C) + r*(k*(2.0*v-v_r-v_t) - g_a*s_a + g_n*s_n*dfdv)) / C"
    - "v' = (k*(v-v_r)*(v-v_t) - (1+g_n*p2)*(pi*C*r)^2/k + g_a*s_a*(E_a-v) + g_n*s_n*(E_n-v)*f_n + eta + I_ext - w) / C"
    - "w' = (b*(v-v_r) - w) / tau_w + kappa*s"
    - "u' = (U0 - u)/tau_u + U0*(1-u)*s"
    - "x' = (1-x)/tau_x - alpha*u*x*s"
    - "s_a' = s_in - s_a / tau_a"
    - "s_n' = s_in - s_n / tau_n"
    - "s' = r*x*u - s / tau_s"
  variables:
    r: output(0.01)
    v: variable(-60.0)
    w: variable(0.0)
    u: variable(0.6)
    x: variable(1.0)
    s: variable(0.05)
    s_a: variable(0.05)
    s_n: variable(0.05)
    v_scale: variable
    v_exp: variable
    f_n: variable
    dfdv: variable
    p2: variable
    Delta: 0.1
    C: 100.0
    k: 0.7
    v_r: -70.0
    v_t: -45.0
    g_a: 20.0
    g_n: 10.0
    E_a: 0.0
    E_n: 0.0
    eta: 0.0
    b: -2.0
    kappa: 10.0
    U0: 0.8
    alpha: 0.1
    tau_w: 100.0
    tau_u: 50.0
    tau_x: 1000.0
    tau_a: 5.0
    tau_n: 150.0
    tau_s: 2.0
    mg_scale: 0.08
    sigma: 0.15
    a2: 0.0013
    b2: -0.0146
    v0: -30.0
    v1: 7.0
    v_c: -150.0
    I_ext: input(0.0)
    s_in: input(0.0)

# qif operator with SFA
qif_sfa_op:
  base: OperatorTemplate
  equations:
    - "r' = (Delta/(pi*tau + kappa*pi*tau) + 2.0*r*v) / tau"
    - "v' = (v^2 - (pi*tau*r)^2 + tau*(J_e*s_e - J_i*s_i) + eta + I_ext - u) / tau"
    - "u' = w / tau_u"
    - "w' = (kappa*tau_u*r - 2*w - u) / tau_u"
    - "s' = x / tau_s"
    - "x' = (r - 2*x - s) / tau_s"
  variables:
    r: output(0.0)
    v: variable(-60.0)
    u: variable(0.0)
    w: variable(0.0)
    s: variable(0.0)
    x: variable(0.0)
    Delta: 0.1
    tau: 10.0
    J_e: 20.0
    J_i: 10.0
    eta: 0.0
    kappa: 1.0
    tau_u: 100.0
    tau_s: 5.0
    I_ext: input(0.0)
    s_e: input(0.0)
    s_i: input(0.0)

# qif operator with calcium-dependent synapses and excitability
qif_ca_op:
  base: OperatorTemplate
  equations:
    - "r' = (Delta/(pi*tau) + 2.0*r*v) / tau"
    - "v' = (v^2 - (pi*tau*r)^2 + a*tau*J*s_in + eta + I_ext - u) / tau"
    - "a' = (1-a)/tau_a + (A0-a)*alpha*r"
    - "u' = kappa*r - u/tau_u"
    - "s' = (r-s)/tau_s"
  variables:
    r: output(0.0)
    v: variable(0.0)
    s: variable(0.0)
    a: variable(1.0)
    u: variable(0.0)
    Delta: 0.1
    tau: 10.0
    J: 20.0
    eta: 0.0
    tau_a: 500.0
    alpha: 0.1
    A0: 0.0
    tau_u: 50.0
    kappa: 10.0
    tau_s: 5.0
    I_ext: input(0.0)
    s_in: input(0.0)

# qif operator with STP
qif_stp_op:
  base: OperatorTemplate
  equations:
    - "r' = (Delta/(pi*tau + kappa*pi*tau) + 2.0*r*v) / tau"
    - "v' = (v^2 - (pi*tau*r)^2 + u*tau*(J_e*s_e - J_i*s_i) + eta + I_ext) / tau"
    - "u' = (w - u) / tau_u"
    - "w' = (1 - kappa*tau_u*r*w - w) / tau_u"
    - "s' = x / tau_s"
    - "x' = (r - 2*x - s) / tau_s"
  variables:
    r: output(0.0)
    v: variable(-60.0)
    u: variable(1.0)
    w: variable(1.0)
    s: variable(0.0)
    x: variable(0.0)
    Delta: 0.1
    tau: 10.0
    J_e: 20.0
    J_i: 10.0
    eta: 0.0
    kappa: 1.0
    tau_u: 100.0
    tau_s: 5.0
    I_ext: input(0.0)
    s_e: input(0.0)
    s_i: input(0.0)

# izhikevich operator with calcium-dependent synapses
ik_ca_op:
  base: OperatorTemplate
  equations:
    - "sfa = kappa/(1+exp(psi*(theta-x)))"
    - "r' = (k*Delta/(C*pi) + r*(k*(2.0*v-v_r-v_t) - g*s_in*a)) / C"
    - "v' = (k*(v-v_r)*(v-v_t) - (C*pi*r)^2/k + s_in*a*g*(E_r-v) + eta + I_ext - sfa) / C"
    - "a' = (1-a)/tau_a + (A0-sqrt(a))*alpha*s"
    - "x' = x0/tau_x"
    - "x0' = r**2 - (2*x0 + x)/tau_x"
    - "s' = s0/tau_s"
    - "s0' = (r - 2*s0 - s) / tau_s"
  variables:
    r: output(0.0)
    v: variable(-60.0)
    a: variable(1.0)
    x: variable(0.0)
    x0: variable(0.0)
    s: variable(0.0)
    s0: variable(0.0)
    sfa: variable(0.0)
    Delta: 0.1
    C: 100.0
    k: 0.7
    v_r: -60.0
    v_t: -40.0
    g: 20.0
    E_r: 0.0
    kappa: 1.0
    psi: 20.0
    theta: 0.2
    alpha: 1.0
    A0: 0.5
    tau_a: 100.0
    tau_x: 500.0
    tau_s: 5.0
    eta: 0.0
    I_ext: input(0.0)
    s_in: input(0.0)

# izhikevich operator with calcium-dependent synapses
ik_eic_op:
  base: OperatorTemplate
  equations:
    - "g_syn = 1.0 - alpha*x"
    - "r_e' = (k*Delta/(C*pi) + r_e*(k*(2.0*v_e-v_r-v_t) - g_syn*(g_e*r_e + g_i*r_i))) / C"
    - "v_e' = (k*(v_e-v_r)*(v_e-v_t) - (C*pi*r_e)^2/k + g_syn*(g_e*r_e*(E_e-v_e) + g_i*r_i*(E_i-v_e)) + eta + I_ext - u) / C"
    - "r_i' = (k*Delta/(C*pi) + r_i*(k*(2.0*v_i-v_r-v_t) - g_syn*(g_e*r_e + g_i*r_i))) / C"
    - "v_i' = (k*(v_i-v_r)*(v_i-v_t) - (C*pi*r_i)^2/k + g_syn*(g_e*r_e*(E_e-v_i) + g_i*r_i*(E_i-v_i)) + eta + I_ext) / C"
    - "u' = (b*(v_e-v_r) - u) / tau_u + kappa*x"
    - "x' = a / tau_a"
    - "a' = mu + (1-mu)*tanh(s*(r_e+r_i-theta)) - (2*a + x) / tau_a"
  variables:
    r_e: output(0.0)
    r_i: variable(0.0)
    v_e: variable(-60.0)
    v_i: variable(-60.0)
    u: variable(0.0)
    x: variable(0.0)
    a: variable(0.0)
    g_syn: variable(0.0)
    Delta: 0.1
    C: 100.0
    k: 0.7
    v_r: -60.0
    v_t: -40.0
    b: -2.0
    g_e: 20.0
    g_i: 5.0
    E_e: 0.0
    E_i: -65.0
    kappa: 100.0
    alpha: 100.0
    mu: 0.5
    s: 100.0
    theta: 0.05
    tau_a: 1000.0
    tau_u: 50.0
    eta: 0.0
    I_ext: input(0.0)

# parameters for waveform prototype 0
proto_0:
  base: ik_stp_op
  variables:
    Delta: 1.0
    C: 100.0
    k: 0.7
    v_r: -60.0
    v_t: -40.0
    g_i: 0.0
    g_e: 60.0
    kappa: 1.0
    alpha: 200.0
    tau_u: 200.0
    tau_w: 800.0
    tau_s: 6.0
    eta: 67.02

# parameters for waveform prototype 1
proto_1:
  base: ik_stp_op
  variables:
    Delta: 1.0
    C: 100.0
    k: 0.7
    v_r: -60.0
    v_t: -40.0
    g_i: 0.0
    g_e: 60.0
    kappa: 1.0
    alpha: 200.0
    tau_u: 200.0
    tau_w: 800.0
    tau_s: 6.0
    eta: 67.02

# parameters for waveform prototype 2
proto_2:
  base: ik_stp_op
  variables:
    Delta: 1.0
    C: 100.0
    k: 0.7
    v_r: -60.0
    v_t: -40.0
    g_i: 0.0
    g_e: 60.0
    kappa: 1.0
    alpha: 200.0
    tau_u: 200.0
    tau_w: 800.0
    tau_s: 6.0
    eta: 67.02

# parameters for fast-spiking neurons
fs_op:
  base: ik_ei_op
  variables:
    Delta: 1.0
    C: 20.0
    k: 1.0
    v_r: -55.0
    v_t: -40.0
    g_ampa: 1.0
    g_gabaa: 1.0
    E_ampa: 0.0
    E_gabaa: -65.0
    b: 0.025
    a: 0.2
    d: 0.0
    tau_ampa: 6.0
    tau_gabaa: 8.0

# parameters for low-threshold-spiking neurons
lts_op:
  base: ik_ei_op
  variables:
    Delta: 1.0
    C: 100.0
    k: 1.0
    v_r: -56.0
    v_t: -42.0
    g_ampa: 1.0
    g_gabaa: 1.0
    E_ampa: 0.0
    E_gabaa: -65.0
    b: 8.0
    a: 0.03
    d: 20.0
    tau_ampa: 6.0
    tau_gabaa: 8.0

# node templates
################

# population of qif neurons
qif_pop:
  base: NodeTemplate
  operators:
    - qif_op

# population of qif neurons with SFA
qif_sfa_pop:
  base: NodeTemplate
  operators:
    - qif_sfa_op

# population of qif neurons with STP
qif_stp_pop:
  base: NodeTemplate
  operators:
    - qif_stp_op

# population of qif neurons with calcium dependence
qif_ca_pop:
  base: NodeTemplate
  operators:
    - qif_ca_op

# population of biophysiologically informed izhikevich neurons
ik_pop:
  base: NodeTemplate
  operators:
    - ik_op

# population of biophysiologically informed izhikevich neurons
ik_full_pop:
  base: NodeTemplate
  operators:
    - ik_full_op

# population of Izhikevich neurons with calcium-dependent synapses
ik_ca_pop:
  base: NodeTemplate
  operators:
    - ik_ca_op

# regular-spiking neuron population
rs:
  base: NodeTemplate
  operators:
    - rs_op

# intrinsically-bursting neuron population
ib:
  base: NodeTemplate
  operators:
    - ib_op

# fast-spiking neuron population
fs:
  base: NodeTemplate
  operators:
    - fs_op

# low-threshold-spiking neuron population
lts:
  base: NodeTemplate
  operators:
    - lts_op

# IK neuron population with threshold adaptation
sfa_pop:
  base: NodeTemplate
  operators:
    - ik_sfa_op

# circuit templates
###################

# biophysiologically informed izhikevich population
ik:
  base: CircuitTemplate
  nodes:
    p: ik_pop
  edges:
    - [p/ik_op/s, p/ik_op/s_e, null, {weight: 1.0}]

# biophysiologically informed izhikevich population
ik_full:
  base: CircuitTemplate
  nodes:
    p: ik_full_pop
  edges:
    - [p/ik_full_op/s, p/ik_full_op/s_in, null, {weight: 1.0}]

# izhikevich population with calcium-dependent synapses
ik_ca:
  base: CircuitTemplate
  nodes:
    p: ik_ca_pop
  edges:
    - [p/ik_ca_op/s, p/ik_ca_op/s_in, null, {weight: 1.0}]

# izhikevich population with calcium-dependent synapses
qif_ca:
  base: CircuitTemplate
  nodes:
    p: qif_ca_pop
  edges:
    - [p/qif_ca_op/s, p/qif_ca_op/s_in, null, {weight: 1.0}]

# izhikevich population with SFA
ik_sfa:
  base: CircuitTemplate
  nodes:
    p: sfa_pop
  edges:
    - [p/ik_sfa_op/s, p/ik_sfa_op/s_e, null, {weight: 1.0}]

# rs-fs circuit
ik_eic_ca:
  base: CircuitTemplate
  nodes:
    exc: ik_ca_pop
    inh: ik_pop
  edges:
    - [exc/ik_sfa_op/s, exc/ik_sfa_op/s_e, null, {weight: 1.0}]
    - [exc/ik_sfa_op/s, inh/ik_sfa_op/s_e, null, {weight: 1.0}]
    - [inh/ik_sfa_op/s, exc/ik_sfa_op/s_i, null, {weight: 1.0}]
    - [inh/ik_sfa_op/s, inh/ik_sfa_op/s_i, null, {weight: 1.0}]

# rs-fs circuit
ik_eic_stp:
  base: CircuitTemplate
  nodes:
    exc: stp_pop
    inh: ik_pop
  edges:
    - [exc/ik_stp_op/s, exc/ik_stp_op/s_e, null, {weight: 1.0}]
    - [exc/ik_stp_op/s, inh/ik_op/s_e, null, {weight: 1.0}]
    - [inh/ik_op/s, exc/ik_stp_op/s_i, null, {weight: 1.0}]
    - [inh/ik_op/s, inh/ik_op/s_i, null, {weight: 1.0}]

# qif-based EI circuit with SFA
qif_eic_sfa:
  base: CircuitTemplate
  nodes:
    exc: qif_sfa_pop
    inh: qif_sfa_pop
  edges:
    - [exc/qif_sfa_op/s, exc/qif_sfa_op/s_e, null, {weight: 1.0}]
    - [exc/qif_sfa_op/s, inh/qif_sfa_op/s_e, null, {weight: 1.0}]
    - [inh/qif_sfa_op/s, exc/qif_sfa_op/s_i, null, {weight: 1.0}]
    - [inh/qif_sfa_op/s, inh/qif_sfa_op/s_i, null, {weight: 1.0}]

# qif-based EI circuit with STP
qif_eic_stp:
  base: CircuitTemplate
  nodes:
    exc: qif_stp_pop
    inh: qif_stp_pop
  edges:
    - [exc/qif_stp_op/s, exc/qif_stp_op/s_e, null, {weight: 1.0}]
    - [exc/qif_stp_op/s, inh/qif_stp_op/s_e, null, {weight: 1.0}]
    - [inh/qif_stp_op/s, exc/qif_stp_op/s_i, null, {weight: 1.0}]
    - [inh/qif_stp_op/s, inh/qif_stp_op/s_i, null, {weight: 1.0}]
